*.fasl
*.sse2f
\#*#
\.#*
*~
/doc/INSTALL
/doc/README
/doc/lispbot.aux
/doc/lispbot.cp
/doc/lispbot.fn
/doc/lispbot.fns
/doc/lispbot.ky
/doc/lispbot.log
/doc/lispbot.pg
/doc/lispbot.toc
/doc/lispbot.tp
/doc/lispbot.vr
/doc/lispbot_manual.html
/doc/lispbot_manual.info
/doc/lispbot_manual.pdf
/doc/lispbot_manual.txt
/doc/lispbot_manual/ASDF.html
/doc/lispbot_manual/Basic-Usage.html
/doc/lispbot_manual/Bot-control.html
/doc/lispbot_manual/Configuring.html
/doc/lispbot_manual/Dependencies.html
/doc/lispbot_manual/Download.html
/doc/lispbot_manual/Index.html
/doc/lispbot_manual/Installation.html
/doc/lispbot_manual/Non-ASDF.html
/doc/lispbot_manual/Overview.html
/doc/lispbot_manual/Running.html
/doc/lispbot_manual/Stopping.html
/doc/lispbot_manual/Writing-plugins.html
/doc/lispbot_manual/index.html
/doc/lispbotman
/plugins/bb-plugin.lisp
/plugins/bb.lisp
/plugins/buzz-off-plugin.lisp
/plugins/duel.lisp
/plugins/fortune-plugin.lisp
/plugins/poker-bot.lisp
/plugins/poker-plugin.lisp
/plugins/sleep-plugin.lisp
/plugins/wiktionary-plugin.lisp
/plugins/holdem-plugin.lisp
